* {
    margin: 0px;
    padding: 0px;
}

.border {
    border: 5px solid palegreen;
    background: rgb(255, 255, 255);
    width: 900px;
    margin: 30px auto 10px auto;
    padding: 15px;
    color: rgb(42, 54, 165);
    font-weight: 800;
}

.dashed-border {
    border: 8px dashed palevioletred;
}

.heading-style {
    text-align: center;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 60px;

}

.bg-image {
    background-image: url('image/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fit;
    height: 100vh;

}